# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
package-lock.json

# Ignore output from coverage report
coverage
.vscode

# CF ignores
cf-templates/*/template.processed.tmp.yaml
