<mat-card>
  <mat-card-title align="center">
    Please enter post Id
  </mat-card-title>
  <mat-card-content>
      <div class="row justify-content-md-center">
        <div class="col col-md-8">
          <mat-form-field appearance="outline">
            <mat-label>Post Id</mat-label>
            <input placeholder="Enter post Id" type="number" matInput [formControl]="postId">
            <mat-error *ngIf="postId.hasError('required')">
              Id is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="postId.hasError('min')">
              Post ID must be numeric and <strong>greater</strong> than 0
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col col-lg-2 ">
          <button type="button" class="btn btn-primary w-100"
                  (click)="getDetail(+postId.value)"
                  [disabled]="!postId.valid">
            <div class="flex">
              <mat-icon>send</mat-icon>
              <span>Send</span>
            </div>
          </button>
        </div>
      </div>
  </mat-card-content>
</mat-card>

