<h1> Set post id</h1>
<section>
  <mat-form-field class="example-full-width">
    <mat-label>Post Id</mat-label>
    <input placeholder="Ex. 1" type="number" matInput [formControl]="postId" [errorStateMatcher]="matcher">
    <button mat-button matSuffix color="primary" [disabled]="!postId.valid" class="button"
            (click)="getDetail(+postId.value)">
      Send
    </button>
    <mat-error *ngIf="postId.invalid && (postId.dirty || postId.touched)">
      Id is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
</section>
