<mat-card>
  <mat-card-content>
    <div class="spinner" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <mat-card-title align="center">
      {{ this.post.title }}
    </mat-card-title>
    <textarea class="form-control" disabled aria-label="With textarea">{{ this.post.body }}</textarea>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" class="btn btn-primary w-100" routerLink="/">
      <mat-icon>back</mat-icon>
      <span>Back</span>
    </button>
  </mat-card-actions>
</mat-card>
